[project]
	description = A small time tracking app for Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nam Tu (rfcclub)
[access "refs/for/refs/*"]
	read = group user/Nam Tu (rfcclub)
	push = group user/Nam Tu (rfcclub)
	label-Code-Review = -2..+2 group user/Nam Tu (rfcclub)
	label-Verified = -1..+1 group user/Nam Tu (rfcclub)
	rebase = group user/Nam Tu (rfcclub)
	removeReviewer = group user/Nam Tu (rfcclub)
	submit = group user/Nam Tu (rfcclub)
[access "refs/heads/*"]
	read = group user/Nam Tu (rfcclub)
	create = group user/Nam Tu (rfcclub)
	push = +force group user/Nam Tu (rfcclub)
	pushMerge = group user/Nam Tu (rfcclub)
[access "refs/tags/*"]
	push = +force group user/Nam Tu (rfcclub)
	pushTag = group user/Nam Tu (rfcclub)
	pushSignedTag = group user/Nam Tu (rfcclub)
